
* {
    border: 0;
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    min-width: 320px;
    background: #fff;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    font-size: 14px;
    line-height: 1.4285em;
    color: rgba(0,0,0,.87);
    font-smoothing: antialiased;
}

h1{
    font-size: 4.2rem;
}

.content {
    max-width: 126rem;
    margin: 0 auto;
    position: relative;
}

.header-top.ui.right.list{
    padding: 2rem 2rem 3rem;
}

header .header-top.ui.right.list .item{
    font-size: 1.2rem;
    font-weight: bold;
}

header.segment h1{
    height: auto;
    min-height: auto;
}

.nav-wrapper.content{
    background-color: rgba(255,255,255,0.9);
    box-shadow: 0 0 1rem 0 rgba(0,0,0,0.65);
    position: absolute;
    z-index: 1;
    top: 7rem; left: 0; right: 0;
    border-radius: 0;
}

.nav-wrapper.content .ui.menu{
    padding: 2rem 0;
}
.nav-wrapper.content .right{
    padding: 0 2rem;
}

.nav-wrapper.content .right .item{
    color: #534e61;
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;
    transition: color .2s linear;
}

.nav-wrapper.content .right .item:before{
    height: 0;
    content: '';
    font-weight: 700;
    display: inline-block;
    font-size: 1em;
}

.nav-wrapper.content .ui.menu .item .logo{
    width: auto;
    height: 11rem;
    margin: -3rem 0;
    border-radius: 50%;
    filter: drop-shadow(0 0 0.1rem rgba(0,0,0,0.65));
    position: absolute;
    z-index: 1;
    transition: all .2s linear;
}

header .ui.header{
    background-color: rgba(255,255,255,0.8);
    box-shadow: 0 0 20px gray;
    margin: 6em auto;
}

h1.ui.header{
    width: 30rem;
    display: inline-block;
    padding: .5em 1em;
    text-align: left;
    font-size: 3.3rem;
}

.custom-buttons .content{
    padding: 0 2rem;
}

.custom-buttons div.ui.menu{
    position: relative;
    z-index: 1;
    border: 0;
    border-radius: 0;
    background: transparent;
    display: flex;
    justify-content: center;
}

.custom-buttons .ui.menu .item{
    justify-content: center;
    height: 5rem;
    width: 25%;
    padding: 2rem 1rem;
    background: #fff;
    font-size: 1.63rem;
    transition: box-shadow .2s linear;
    margin: 0 1rem;
    font-weight: 700;
    border-radius: 0;
}

.custom-buttons div.ui.menu a.item:before{
    position: static;
    content: none;
    height: auto;
    width: auto;
}

.row h2.ui.header{
    padding: 1em 0;
    text-transform: uppercase;
}